.orderList {
  color: white;
  background-color: #ff7520cb;
  font-size: medium;
  font-size: 18px;
  max-height: 75vh;
  overflow-y: auto;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  letter-spacing: 1px;
}
.orderList::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.orderList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.orderList::-webkit-scrollbar-thumb {
  background: #ff7520fb;
  border-radius: 10px;
}

/* Handle on hover */
.orderList::-webkit-scrollbar-thumb:hover {
  background: #f1e6dfc7;
}

h2 {
  padding-left: 40px;
}
.removeAll {
  margin-left: 40px;
  padding: 5px;
  letter-spacing: 1px;
}
button {
  font-family: "Indie Flower", cursive;
  font-weight: 800;
}

.quan {
  font-size: 20px;
}

.inc,
.dec {
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 5px;
}

.inc {
  background-color: green;
  border-color: green;
}

.dec {
  background-color: red;
  border-color: red;
}

.name {
  margin-left: -28px;
}
/* .orderList {
  display: flex;
  justify-content: center;
} */
