.orderList {
  color: white;
  background-color: rgba(0, 0, 0, 0.733);
}

.App {
  text-align: center;
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.2)),
    url("https://image.shutterstock.com/image-photo/fast-food-restaurant-burger-shop-260nw-548267455.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  font-family: "Indie Flower", cursive;
  font-size: 22px;
}

/* .App {
  width: 1200px;
  margin: 0px auto 10px auto;
} */

.buttonStyle {
  font-family: "Indie Flower", cursive;
  font-weight: 700;
  position: sticky;
  top: 20px;
  background-color: #ff7720;
  border-radius: 10px;
  border: none;
  color: black;
  padding: 15px 32px;
  /* margin-top: 50px; */
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  float: right;
}

.buttonStyle:hover {
  background-color: rgba(96, 179, 212, 0.972);
}

.title {
  padding: 20px;
  font-size: x-large;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  /* margin-top: 10px; */
}

.filters {
  flex-basis: 18rem;
  flex-grow: 1;
  padding: 2rem;
  margin-top: -100px;
  background-color: #ff7720;
}

legend {
  font-weight: bold;
}
main {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.dishes {
  flex-basis: 0;
  flex-grow: 999;
  padding: 2rem;
  padding: clamp(2rem, 2rem + 4vw, 6rem);
}
form {
  position: sticky;
  top: 2rem;
}
label {
  display: block;
  text-transform: capitalize;
}

label + label {
  margin-top: 0.25rem;
}

input {
  margin-left: 0.5rem;
  vertical-align: middle;
}
